<h1>Listing students</h1>

<%= link_to 'New student', new_student_path %>

<% if @students.any? %>
<table>
	<tr>
		<th>Name</th>
		<th>Register Number</th>
		<th>Status</th>
		<th colspan="2"></th>
	</tr>
<% @students.each do |student| %>
	<tr>
		<td><%= student.name %></td>
		<td><%= student.register_number %></td>
		<td><%= student.status.humanize %></td>
		<td><%= link_to 'Show', student_path(student) %></td>
		<td><%= link_to 'Edit', edit_student_path(student) %></td>
		<td><%= link_to 'Destroy', student_path(student), 
			method: :delete, data: {confirm: 'Are you sure?' } %></td>
	</tr>
<% end %>
</table>
<% end %>