<p>
	<strong>Name:</strong>
	<%= @course.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @course.description %>
</p>

<p>
	<strong>Status:</strong>
	<%= @course.status.humanize %>
</p>

<% if @course.students.any? %>
<h2>Students</h2>
<table>
	<tr>
		<th>Name</th>
		<th>Register Number</th>
		<th>Entry at</th>
		<th colspan="2"></th>
	</tr>
	<% @course.classrooms.each do |classroom| %>
	<tr>
		<td><%= classroom.student.name %></td>
		<td><%= classroom.student.register_number %></td>
		<td><%= classroom.created_at %></td>
		<td><%= link_to 'Show', student_path(classroom.student) %></td>
	</tr>
	<% end %>
</table>
<% end %>

<%= link_to 'Back', courses_path %>
| <%= link_to 'Edit', edit_course_path(@course) %>